.landingPage {
	background-color: cream;
	/*background-image: url('images/landing-page.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;*/
}

#mainPage {
	background-color: transparent;
	border-style: none;
}

#logBtns {
	margin-right: 15px;
}

#brand {
	text-transform: uppercase;
	color: #337AB7;
	margin-top: 8px;
}

.logo {
	text-decoration: none;
}

.login-options {
	list-style: none;
}

.flex-container {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-container > a {
	text-align: center;
}

.flex-item {
	width: 350px;
	height: auto;
	margin: 0 auto;
}

.serviceLogo {
	max-width: 150px;
	height: 59px;
}

.tag {
	display: inline-block;
	margin: 0.2em;
}

#rwd-table {
  margin: 1em .3em;
  min-width: 300px;
  vertical-align: center;
}
#rwd-table tr {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
#rwd-table th {
  display: none;
}
#rwd-table td {
  display: block;
}
#rwd-table a {
	display: inline-block;
}
#rwd-table #deleteBtn {
	margin-bottom: 0;
  padding-bottom: 0;
}
#rwd-table td:before {
  content: attr(data-th);
  width: 6.5em;
  display: inline-block;
  margin-right: .5em;
}

@media (min-width: 700px) {
  #rwd-table td:before {
    display: none;
  }
}
#rwd-table th, #rwd-table td {
  text-align: left;
}

@media (min-width: 700px) {
  #rwd-table th, #rwd-table td {
    display: table-cell;
    min-height: 3.75em;
  }
  #rwd-table th:first-child, #rwd-table td:first-child {
    min-width: 135px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }
  #rwd-table th:last-child, #rwd-table td:last-child {
    padding-right: 0;
  }
}

#rwd-table {
	overflow: hidden;
}

@media (min-width: 700px) {
  #rwd-table th, #rwd-table td {
    padding: .5em !important;
    height: 50px;
  }
}