<nav class="navbar navbar-default navbar-fixed">
	<div class="contaier-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" id="brand" href="#/">ideatron</a>
		</div>
		<ul class="nav navbar-nav navbar-right" id="logoutBtn">
			<li>
				<button type="button" class="btn btn-primary loginBtn" ng-click="login()">Login</button>
			</li>
			<li>
				<button type="button" class="btn btn-primary loginBtn" ng-click="loginAnon()">Skip Login</button>
			</li>
		</ul>
	</div>	
</nav>
<div class="container-fluid">
	<div class="row text-center">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h3>What is it?</h3>
			<p>IDEATRON is here to help you generate app ideas by presenting you with randomly selected APIs to use.</p>
			<h3>How to use it?</h3>
			<p>Login with your Github credtials (if you'd like to see previously generated ideas) and select the number of services you would like to use. IDEATRON will then show you what you possible APIs to combine to create your app.</p>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>