<nav class="navbar navbar-default navbar-fixed">
	<div class="contaier-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" id="brand" href="#/">ideatron</a>
		</div>
		<ul class="nav navbar-nav navbar-right" id="logBtns">
			<li><a href="#/about"><button type="button" class="btn btn-primary">About</button></a></li>
			<li><a href=""><button type="button" class="btn btn-primary" ng-hide="loggedIn" ng-click="login()">Login</button></a></li>
			<li><a href="#/"><button type="button" class="btn btn-primary" ng-show="loggedIn" ng-click="logOut()">Log Out</button></a></li>
		</ul>
	</div>
</nav>
<div class="text-center">
	<p>Select how many services you would like to use:</p>
	<form class="form-inline">
		<select class="form-control" ng-model="serviceNumber">
			<option ng-repeat="number in numbers">{{ number }}</option>
		</select>
		</br>
		<button type="submit" class="btn btn-primary btn-block" ng-click="selectService()">Submit</button>
	</form>
</div>
</br>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
	<ul class="flex-container">
		<li class="flex-item" ng-repeat="idea in ideas">
			<a ng-href="{{ idea.humanURL}}"><img class="serviceLogo" ng-src="{{ idea.image }}"></a><br>
			<h4>{{ idea.name }}</h4>
			<p class="tag" ng-repeat="tags in idea.tags track by $index"><em>{{ tags }};</em></p>
			<p>{{ idea.description }}</p>
		</li>
	</ul>
	</div>
	<div class="col-md-1"></div>
</div>
<section ng-show="loggedIn && limitedIdeas > 0">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
		<h5 ng-show="loggedIn">Recent ideas:<h5>
		<table class="table table-bordered text-left" id="rwd-table">
			<tr>
				<th class="col-md-1" data-th="#">#</th>
				<th class="col-md-3" data-th="Service:">Service 1</th>
				<th class="col-md-3" data-th="Service:">Service 2</th>
				<th class="col-md-3" data-th="Service:">Service 3</th>
			</tr>
			<tr ng-repeat="(key,item) in prevIdeas" ng-mouseenter="show = true" ng-mouseleave="show = false">
				<td ng-show="show" id="deleteBtn">
					<button type="button" class="btn btn-primary btn-small btn-block" ng-show="show" ng-click="deleteMe(key)">Delete
					</button>
				</td>
				<td ng-hide="show" data-th="#">{{$index + 1}}</td>
				<td ng-repeat="child in item" data-th="Service:">
					<a ng-href="{{child.humanURL}}">
						<p>{{ child.name }}</p>
					</a>
				</td>
				<td ng-show="item.length<2" data-th="Service:">-</td>
				<td ng-show="item.length<3" data-th="Service:">-</td>
				
			</tr>
		</table>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row text-center">
	<button type="button" class="btn btn-primary" ng-show="loggedIn" ng-click="showMore()">Show More</button>
	<button type="button" class="btn btn-primary" ng-show="loggedIn" ng-click="clearData()">Clear All</button>
	</div>
</section>