.logo {
	text-decoration: none;
}

.login-options {
	list-style: none;
}

.flex-container {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-container > a {
	text-align: center;
}

.flex-item {
	width: 350px;
	height: auto;
	margin: 0 auto;
}

.serviceLogo {
	max-width: 350px;
	height: 100px;
}

.tag {
	display: inline-block;
	margin: 0.2em;
}