<section class="header">
	<a href="#/" class="logo"><h1>ideaTron 2000</h1></a>
</section>
<button ng-show="loggedIn" ng-click="logOut()">Log Out</button>
<p>Select how many services you would like to use:</p>
<select ng-model="serviceNumber">
	<option ng-repeat="number in numbers">{{ number }}</option>
</select>
<button ng-click="selectService()">Submit</button>
<section>
	<ul class="flex-container">
		<li class="flex-item" ng-repeat="idea in ideas">
			<a ng-href="{{ idea.humanURL}}"><img class="serviceLogo" ng-src="{{ idea.image }}"></a><br>
			<h3>{{ idea.name }}</h3>
			<p class="tag" ng-repeat="tags in idea.tags track by $index"><em>{{ tags }};</em><p>
			<p>{{ idea.description }}</p>
		</li>
	</ul>
</section>
<section>
	<h4 ng-show="loggedIn">Recent ideas:<h4>
	<ol ng-show="loggedIn">
		<li ng-repeat="item in prevIdeas">
			{{ item.$id }}
			<ul>
				<li ng-repeat="child in item"><a ng-href="{{child.humanURL}}">{{ child.name }}</a></li>
			</ul>
		</li>
	</ol>
</section>