.landingPage {
	background-image: url('images/landing-page.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

#loginBtn {
	margin-top: 8px;
}

#logoutBtn li {
	margin-right: 15px;
}

/*.buttons {
	text-align: center;
}

.buttons li {
	display:inline-block;
	text-decoration: none;
	font-size: 0.8em;
	margin: 5px;
}

.ghost-button {
	display: inline-block;
  	width: 175px;
  	padding: .3em;
  	color: #fff;
  	background-color: transparent;
  	border: 2px solid #fff;
  	border-radius: 5px;
  	text-align: center;
  	outline: none;
  	text-decoration: none;
  	transition: color 0.5s ease-out,
              background-color 0.5s ease-out,
              border-color 0.5s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
	background-color: #778899;
  	border-color: #778899;
  	color: #fff;
  	transition: color 0.3s ease-in,
              background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

*/

#brand {
	text-transform: uppercase;
	color: #337AB7;
	margin-top: 8px;
}

.logo {
	text-decoration: none;
}

.login-options {
	list-style: none;
}

.flex-container {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-container > a {
	text-align: center;
}

.flex-item {
	width: 350px;
	height: auto;
	margin: 0 auto;
}

.serviceLogo {
	max-width: 350px;
	height: 100px;
}

.tag {
	display: inline-block;
	margin: 0.2em;
}