.landingPage {
	background-image: url('images/landing-page.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

#mainPage {
	background-color: transparent;
	border-style: none;
}

#logBtns {
	margin-right: 15px;
}

#brand {
	text-transform: uppercase;
	color: #337AB7;
	margin-top: 8px;
}

.logo {
	text-decoration: none;
}

.login-options {
	list-style: none;
}

.flex-container {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-container > a {
	text-align: center;
}

.flex-item {
	width: 350px;
	height: auto;
	margin: 0 auto;
}

.serviceLogo {
	max-width: 350px;
	height: 100px;
}

.tag {
	display: inline-block;
	margin: 0.2em;
}