<section class="landingPage">
<nav class="navbar navbar-default navbar-fixed" id="mainPage">
<div class="container-fluid">
		<ul class="nav navbar-nav navbar-right" id="logBtns">
			<li><a href="#/about"><button type="button" class="btn btn-primary" ng-hide="loggedIn">About</button></a></li>
			<li><a href=""><button type="button" class="btn btn-primary" ng-hide="loggedIn" ng-click="login()">Login</button></a></li>
			<li><a href=""><button type="button" class="btn btn-primary" ng-hide="loggedIn" ng-click="loginAnon()">Skip Login</button></a></li>
		</ul>
</div>
</nav>
</section>
