<nav class="white" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#/" class="brand-logo teal-text">IDEATRON</a>
  <ul class="right hide-on-med-and-down">
    <li><a class="teal-text" href="#/about">About</a></li>
    <li><a class="teal-text" ng-hide="loggedIn" href="" ng-click="login()">Login</a></li>
    <li><a class="teal-text" ng-show="loggedIn" href="" ng-click="logOut()">Logout</a></li>
    <li><a class="teal-text" ng-hide="loggedIn" href="" ng-click="loginAnon()">Skip</a></li>     
  </ul>

  <ul id="nav-mobile" class="side-nav teal-text">
    <li><a href="#/about">About</a></li>
    <li><a href="" ng-hide="loggedIn" ng-click="login()">Login</a></li>
    <li><a href="" ng-show="loggedIn" ng-click="logOut()">Logout</a></li>
    <li><a href="" ng-hide="loggedIn" ng-click="loginAnon()">Skip</a></li>        
  </ul>
  
  <a href="" ng-click="showSideNav()" data-activates="nav-mobile" class="button-collapse md-primary"><i class="mdi-navigation-menu teal-text"></i></a>
  </div>
</nav>
<div class="section no-pad-bot valign-wrapper">
  <div class="container">
    <div class="row center valign">
    	<div class="col s12 l6">
			<h3>What is it?</h3>
			<p>IDEATRON is here to help you generate app ideas by presenting you with randomly selected APIs to use.</p>
		</div>
		<div class="col s12 l6">
			<h3>How to use it?</h3>
			<p>Login with your Github credtials (if you'd like to see previously generated ideas) and select the number of services you would like to use. IDEATRON will then show you what you possible APIs to combine to create your app.</p>
		</div>
	</div>
</div>