<nav class="white" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="#/" class="brand-logo teal-text">IDEATRON</a>
		<ul class="right hide-on-med-and-down">
			<li><a class="teal-text" href="#/about">About</a></li>
			<li><a class="teal-text" ng-hide="loggedIn" href="" ng-click="login()">Login</a></li>
			<li><a class="teal-text" ng-show="loggedIn" href="" ng-click="logOut()">Logout</a></li>
			<li><a class="teal-text" ng-hide="loggedIn" href="" ng-click="loginAnon()">Skip Login</a></li>     
		</ul>

		<ul id="nav-mobile" class="side-nav teal-text">
			<li><a href="#/about">About</a></li>
			<li><a href="" ng-hide="loggedIn" ng-click="login()">Login</a></li>
			<li><a href="" ng-show="loggedIn" ng-click="logOut()">Logout</a></li>
			<li><a href="" ng-hide="loggedIn" ng-click="loginAnon()">Skip Login</a></li>        
		</ul>

		<a href="" ng-click="showSideNav()" data-activates="nav-mobile" class="button-collapse md-primary"><i class="mdi-navigation-menu teal-text"></i></a>
	</div>
</nav>
<div class="section no-pad-bot valign-wrapper" id="index-banner">
	<div class="container">
		<div class="row center">
			<h4 class="header col s12 light white-text">Get randomly generated ideas for your next project</h4>
		</div>
		<div class="row center valign">
			<a href="#/ideas" id="download-button" class="btn-large teal waves-effect waves-grey">Get Started</a>
		</div>
		<br><br>
	</div>
</div>
<!-- <div class="container"> -->
	<a name="about"></a>
	<div class="section">

		<!--   Icon Section   -->
		<div class="row">
			<div class="col s12 m4">
				<div class="icon-block">
				<h2 class="center orange-text"><i class="mdi-action-alarm"></i></h2>
				<h5 class="center">Free Up Time</h5>

				<p class="light">You're busy. Why waste that time coming up with new project ideas? Instead you will get presented possible application ideas. Use them together or independly - that's the only thing you need to decide. </p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
				<h2 class="center orange-text"><i class="mdi-image-flash-on"></i></h2>
				<h5 class="center">Speeds Up Development</h5>

				<p class="light">Tired of searching and trying to find APIs to use on a project? Ideatron will do the heavy lighting and present you with possible services to incorporate into your app, just specify how many you'ld like to use.</p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
				<h2 class="center orange-text"><i class="mdi-action-settings"></i></h2>
				<h5 class="center">Long Term Memory</h5>

				<p class="light">There's no need to write down any of the ideas. Just sign in with your Github account to be able to all your previously genereated ideas. </p>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<div class="section"></div>
<!-- </div> -->


